/**
 * Article section
 */

@import url(postbox.css);

#background {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    background: #fff;
    background-image: url('../../images/venice.jpg');
    background-size: cover;
    background-attachment: fixed;
}

#content.article {
    max-width: 650px;
    background: #fff;
    margin: 0 auto;
    padding: 1em 3em;
    margin-bottom: 80px;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
    -moz-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
    -webkit-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
}

#content.article p,
#content.article h1,
#content.article h2,
#content.article h3,
#content.article h4,
#content.article h5,
#content.article th {
    color: #3e4349;
    line-height: 1.625em;
    font-size: 16px;
}

#content.article {
    word-wrap: break-word;
}

#content.article header {
    text-align: center;
}

#content.article header h1 {
    margin-bottom: 5px;
}

#content.article header h1 a {
    transition: 0.5s;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0);
}

#content.article header p {
    margin-top: 5px;
    color: #aaa;
}

#content.article a {
    transition: 0.5s;
    color: #3e4349;
    text-decoration: none;
    border-bottom: 1px solid rgb(170,170,170);
}

#content.article a:hover,
#content.article .fa > a:hover{
    color: var(--main-hover-color);
    border-bottom: 1px solid var(--main-hover-color);
}

#content.article > p {
    text-indent: 50px;
    text-align: justify;
    text-justify: inter-word;
}

#content.article .fa {
    margin-left: -2em;
    text-indent: 0;
}

#content.article .fa > a {
    transition: 0.5s;
    margin-left: 1em;
    border-bottom: 1px solid rgba(0,0,0,0);
}

#content.article img {
    width: 85%;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    box-shadow: 4px 5px 6px rgba(0,0,0, 0.1);
    -moz-box-shadow: 4px 5px 6px rgba(0,0,0, 0.1);
    -webkit-box-shadow: 4px 5px 6px rgba(0,0,0, 0.1);
}

#content.article div.figure {
    text-align: center;
}

/* Responsiveness media queries */
@media (max-width: 1024px) {
    #content.article {
        /* Absolute to relative margin */
        margin-left: 13.7%;
        margin-right: 13.7%;
    }
}

