/**
 * Content section
 */

@import url(postbox.css);

#background {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    background: #fff;
    background-image: url('../../images/venice.jpg');
    background-size: cover;
    background-attachment: fixed;
}

article {
    max-width: 650px;
    margin: 0 auto;
    padding: 1em 3em;
    margin-bottom: 80px;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
    -moz-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
    -webkit-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
}

article {
    background: #fff;
    color: #3e4349;
    line-height: 1.625em;
    word-wrap: break-word;
    font-size: 16px;
}

article header {
    text-align: center;
}

article header h1 {
    margin-bottom: 5px;
}

article header p {
    margin-top: 5px;
    color: #aaa;
}

article a {
    color: #3e4349;
    text-decoration: none;
    transition: 0.15s;
    border-bottom: 1px solid rgb(170,170,170);
}

article a:hover {
    border-bottom: 1px solid rgb(100,100,100);
}

article > p {
    text-indent: 50px;
    text-align: justify;
    text-justify: inter-word;
}

/* Responsiveness media queries */
@media (max-width: 1024px) {
    article {
        margin-left: 56px;
        margin-right: 56px;
    }
}

