/**
 * Header section
 */

div#header {
    opacity: 0.85;
    background: #222;
    margin-bottom: 80px;
}

div#navigation {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

div#navigation a {
    display: inline-block;
    padding: 16px 10px;
    text-decoration: none;
    color: #aaa;
    font-family: 'alegreya-light';
    font-size: 22px;
    text-transform: uppercase;
    transition: 0.15s;
}

div#navigation a:hover {
    color: #eee;
}