/**
 * Stylized post container
 */

.postbox {
    display: block;
    color: #3e4349;
    padding: 15px;
    margin: 10px 0;
    transition: 0.15s;
}

.postbox:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    background: rgba(40,40,40,0.8)
}

a.postbox,
a.postbox:hover {
    border: none;
}

a.postbox:hover span {
    color: #fff;
}
