<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

    <!-- Site info -->
    $partial("templates/meta.html")$
    <meta name="description" content="Krišjānis Veinbahs the author of the century."/>
    <meta property="og:image" content="http://krisjanis.veinbahs.lv/images/b_thumb.jpg"/>

    <!-- Helpers, styles -->
    <link rel="stylesheet" type="text/css" href="/css/b.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/styles/github.min.css"></link>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/highlight.min.js"></script>
    <script src="/js/highlight.js"></script>

</head>

<body $if(id)$ class="$id$" $endif$>
    <div id="background"/>
    $partial("templates/header.html")$
    <div id="content" class="article">
        $body$
    </div>
    $partial("templates/footer.html")$
</body>
</html>
