<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Veinbahs - $title$</title>
        <link rel="stylesheet" type="text/css" href="/css/b.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"/>
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/styles/ocean.min.css">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </head>
    <body>
        <div id="background"/>
        $partial("templates/header.html")$
        <div id="content" class="article">
            $body$
        </div>
        <div id="footer">
            <div id="column">
                <a href="https://twitter.com/blokflautijs">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="https://github.com/kshaa">
                    <i class="fa fa-github"></i>
                </a>
                <a href="https://linkedin.com/in/kveinbahs">
                    <i class="fa fa-linkedin-square"></i>
                </a>
                <a href="https://facebook.com/veinbahs">
                    <i class="fa fa-facebook-official"></i>
                </a>
            </div>
        </div>
    </body>
</html>
